In [35]:
#Imports
import pandas as pd

In [36]:


# URL of the CSV file 
url = "https://raw.githubusercontent.com/olbauday/FPL-Elo-Insights/refs/heads/main/data/2025-2026/playerstats.csv"

# Read the CSV file into a pandas DataFrame
df = pd.read_csv(url)
# print(df)

In [37]:
#Importing to CSV file
df.to_csv('gw.csv', index=True)
#test
# df.info()

In [ ]:

# Sort by Total Points descending

,id,status,chance_of_playing_next_round,chance_of_playing_this_round,now_cost,now_cost_rank,now_cost_rank_type,cost_change_event,cost_change_event_fall,cost_change_start,...,starts,defensive_contribution,corners_and_indirect_freekicks_text,direct_freekicks_text,penalties_text,saves_per_90,clean_sheets_per_90,goals_conceded_per_90,starts_per_90,defensive_contribution_per_90
5010,634,a,NaN,NaN,4.4,566,149,0,0,-1,...,2,9,NaN,NaN,NaN,0.0,0.00,2.65,1.32,5.96
1,711,a,NaN,NaN,4.5,542,316,0,0,0,...,0,0,NaN,NaN,NaN,0.0,0.00,0.00,0.00,0.00
2,120,a,100.0,100.0,7.0,39,25,0,0,0,...,2,21,NaN,NaN,NaN,0.0,0.42,0.42,0.85,8.92
3,121,a,NaN,NaN,5.9,108,73,0,0,-1,...,2,16,NaN,NaN,NaN,0.0,0.50,1.00,1.00,8.00
4,122,a,NaN,NaN,5.4,211,134,0,0,-1,...,1,4,NaN,NaN,NaN,0.0,0.00,6.00,2.00,8.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
864,119,a,NaN,NaN,8.0,18,12,0,0,0,...,38,273,NaN,NaN,NaN,0.0,0.24,1.45,1.00,7.19
1168,525,a,NaN,NaN,7.5,19,7,0,0,0,...,35,96,NaN,NaN,NaN,0.0,0.46,1.13,1.06,2.92
863,430,a,NaN,NaN,14.0,2,1,0,0,0,...,31,73,NaN,NaN,NaN,0.0,0.33,1.25,1.02,2.40
1140,499,n,0.0,NaN,10.5,3,2,0,0,0,...,34,89,NaN,NaN,NaN,0.0,0.39,1.34,1.11,2.90
791,381,a,NaN,NaN,14.5,1,1,0,0,0,...,38,136,NaN,NaN,NaN,0.0,0.40,1.07,1.01,3.63